<div class="w-75 m-5 p-5"> 
<h1>POSTS</h1>

<table class="table">
    <tr>
        <th>Titulo</th>
        <th>Contenido</th>
        <th>Imagen</th>
        <th>Fecha</th>
    </tr>

<% @posts.each do |post| %>

    <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
         <td><%= post.image_url %></td>
        <%# <td><%= image_tag( post.image_url) %>
        <td><%= post.created_at %> / <%= time_ago_in_words(post.created_at) %></td>
    <tr>
<% end %>

</table>
</div>